In [15]:
# import Pkg; Pkg.add("")
import Pkg
Pkg.activate(".")
using CSV
using DataFrames
using Statistics
using HypothesisTests

 Activating new environment at `~/Renewvia/survey_impact_analysis/Project.toml`
[ Info: Precompiling HypothesisTests [09f84164-cd44-5f33-b23f-e6b0d136a0d5]

In [12]:
begin
    # download and load
    data = CSV.read("datasets_clean/household_post_survey_encoded.csv", DataFrame) 
    
    # Allow female_schooling_change col to have missing values
    allowmissing!(data, :female_schooling_change)
    
    # Convert "NA" to missing
    replace!(data.female_schooling_change, "NA" => missing) 
    
    # # Typecast into Float64?
    # data[!, :female_schooling_change] .= passmissing(parse).(Float64, 
    #                                                         (data[!, :female_schooling_change])) 
end;

In [16]:
first(data, 10)

10×54 DataFrame
 Row │ Column1  renewvia_id  interviewed_before_0  interviewed_before_1  occup ⋯
     │ Int64    String15?    Float64?              Float64?              Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  missing                 missing               missing          ⋯
   2 │       1  521168.0                      0.0                   1.0
   3 │       2  521039.0                      1.0                   0.0
   4 │       3  521055.0                      0.0                   1.0
   5 │       4  521090.0                      0.0                   1.0        ⋯
   6 │       5  521091.0                      0.0                   1.0
   7 │       6  521267.0                      0.0                   1.0
   8 │       7  521272.0                      0.0                   1.0
   9 │       8  521082.0                      0.0                   1.0        ⋯
  10 │       9  521093.0                      1.0                   0.0
                                                              50 columns omitted

# Gender Equality
1. School Attendance per gender
2. Employment (Jobs/Business) per Gender

## School Attendance per gender

**Data Pre-processing**: We captured directionality of changes in the variable *'female_schooling_change'* and *'female_schooling_change'* with the following encoding :
'no_its_the_same' = 0, 'yes_its_increased' = 1, 'yes_its_decreased' = -1

**Statistical Test**: One-sample t-Test

**Hypothesis**
* $H_{0}$: There were no changes in school attendance for female children
* $H_{1}$: There were a change in school attendance for female children

In [36]:
onesamplettest = let 
    # Fetch a random sample of BMI data for women in the year 1985 and 2017
    x1 = data |>
    x -> data[!, :female_schooling_change] |> skipmissing |> collect |> x->rand(x, 1000)
    OneSampleTTest(x1, 0)
end

One sample t-test
-----------------
Population details:
    parameter of interest:   Mean
    value under h_0:         0
    point estimate:          0.158
    95% confidence interval: (0.1329, 0.1831)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           <1e-32

Details:
    number of observations:   1000
    t-statistic:              12.367960092940569
    degrees of freedom:       999
    empirical standard error: 0.012774944195541498

**Hypothesis**
* $H_{0}$: There were no changes in school attendance for male children
* $H_{1}$: There were a change in school attendance for male children

In [37]:
onesamplettest = let 
    # Fetch a random sample of BMI data for women in the year 1985 and 2017
    x1 = data |>
    x -> data[!, :male_schooling_change] |> skipmissing |> collect |> x->rand(x, 1000)
    OneSampleTTest(x1, 0)
end

One sample t-test
-----------------
Population details:
    parameter of interest:   Mean
    value under h_0:         0
    point estimate:          0.182
    95% confidence interval: (0.156, 0.208)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           <1e-38

Details:
    number of observations:   1000
    t-statistic:              13.755900526186982
    degrees of freedom:       999
    empirical standard error: 0.013230685962982085

**Result Interpretation**: In either instance, the p-value was small enough to reject the null hypothesis thus, we may assume that there was a significant change in the schooling of both male and female children.

## School Attendance per gender

**Data Pre-processing**: We captured directionality of changes in the variable *'female_schooling_change'* and *'female_schooling_change'* with the following encoding :
'no_its_the_same' = 0, 'yes_its_increased' = 1, 'yes_its_decreased' = -1

**Statistical Test**: Two sample Paired t-Test