In [16]:
# import Pkg; Pkg.add("")
import Pkg
Pkg.activate(".")
using CSV
using DataFrames
using Statistics
using HypothesisTests

 Activating new environment at `~/Renewvia/survey_impact_analysis/Project.toml`

In [17]:
begin
    # download and load
    hs_post = CSV.read("datasets_clean/household_post_survey_encoded.csv", DataFrame) 
    hs_pre = CSV.read("datasets_clean/household_pre_survey_encoded.csv", DataFrame)
    ci_post = CSV.read("datasets_clean/commercial_post_survey_encoded.csv", DataFrame)
    hs_paired = CSV.read("datasets_clean/household_paired_data.csv", DataFrame)
end;

LoadError: ArgumentError: "datasets_clean/household_paired_data.csv" is not a valid file or doesn't exist

In [18]:
first(hs_pre, 5)

5×38 DataFrame
 Row │ Column1  renewvia_id  avg_monthly_household_income  household_headcount ⋯
     │ Int64    String15     Union{Missing, Int64}         Union{Missing, Int6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  501121                            missing                missi ⋯
   2 │       1  570063                              27000
   3 │       2  570028                              30000
   4 │       3  nan                                 30000
   5 │       4  570097                              38000                      ⋯
                                                              35 columns omitted

In [19]:
first(hs_post, 5)

5×52 DataFrame
 Row │ Column1  renewvia_id  interviewed_before_0  interviewed_before_1  occup ⋯
     │ Int64    String15?    Float64?              Float64?              Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  missing                 missing               missing          ⋯
   2 │       1  521168.0                      0.0                   1.0
   3 │       2  521039.0                      1.0                   0.0
   4 │       3  521055.0                      0.0                   1.0
   5 │       4  521090.0                      0.0                   1.0        ⋯
                                                              48 columns omitted

In [20]:
first(ci_post, 5)

5×21 DataFrame
 Row │ Column1  renewvia_id  country  community             connection_period  ⋯
     │ Int64    String7      String7  String31              String31?          ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  131206       kenya    kalobeyei_settlement  longer_than_2_year ⋯
   2 │       1  131231       kenya    kalobeyei_settlement  longer_than_2_year
   3 │       2  131542       kenya    kalobeyei_settlement  longer_than_2_year
   4 │       3  131220       kenya    kalobeyei_settlement  longer_than_2_year
   5 │       4  131485       kenya    kalobeyei_settlement  longer_than_2_year ⋯
                                                              17 columns omitted

In [6]:
first(hs_paired, 5)

5×52 DataFrame
 Row │ Column1  renewvia_id  avg_monthly_household_income_pre  household_busin ⋯
     │ Int64    String7      Union{Missing, Float64}           Union{Missing,  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │       0  252102                                 5000.0  missing         ⋯
   2 │       1  252102                                 5000.0  missing
   3 │       2  nd2224                                 3500.0  missing
   4 │       3  161148                                 8000.0  missing
   5 │       4  161078                                 5000.0  adult_female    ⋯
                                                              49 columns omitted

# GENDER EQUALITY

## 1. School Attendance per gender

**Data Pre-processing**: We captured directionality of changes in the variable *'female_schooling_change'* and *'female_schooling_change'* with the following encoding :
'no_its_the_same' = 0, 'yes_its_increased' = 1, 'yes_its_decreased' = -1

**Statistical Test**: ....

**Hypothesis Testing**
* $H_{0}$: There were no changes in school attendance for female children
* $H_{1}$: There were a change in school attendance for female children

In [13]:
# begin 
#     # Allow female_schooling_change col to have missing values
#     allowmissing!(hs_post, :female_schooling_change)
    
#     # Convert "NA" to missing
#     replace!(hs_post.female_schooling_change, "NA" => missing) 
# end;

# onesamplettest = let 
#     # Fetch a random sample 
#     x1 = hs_post |>
#     x -> hs_post[!, :female_schooling_change] |> skipmissing |> collect |> x->rand(x, 500)
#     ChisqTest(x1[, theta0 = ones(length(x1))/length(x1)])
#     # ApproximateOneSampleKSTest(x1)
# end;

**Data Pre-processing**: We captured directionality of changes in the variable *'female_schooling_change'* and *'female_schooling_change'* with the following encoding :
'no_its_the_same' = 0, 'yes_its_increased' = 1, 'yes_its_decreased' = -1

**Statistical Test**: ...

**Hypothesis Testing**
* $H_{0}$: There were no changes in school attendance for male children
* $H_{1}$: There were a change in school attendance for male children

In [14]:
# begin 
#     # Allow female_schooling_change col to have missing values
#     allowmissing!(hs_post, :male_schooling_change)
    
#     # Convert "NA" to missing
#     replace!(hs_post.male_schooling_change, "NA" => missing) 
# end;

# onesamplettest = let 
#     # Fetch a random sample 
#     x1 = hs_post |>
#     x -> hs_post[!, :male_schooling_change] |> skipmissing |> collect |> x->rand(x, 500)
#     OneSampleTTest(x1, 0)
# end;

**Result Interpretation**: In either instance, the p-value was small enough to reject the null hypothesis thus, we may assume that there was a significant change in the schooling of both male and female children.

## 2. Local Businesses - Female Employee

**Statistical Test**: One-sample t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in the number of employed women by local businesses
* $H_{1}$: There were a change in the number of employed women by local businesses

In [13]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(ci_post, :workforce_change_female)
    
    # Convert "NA" to missing
    replace!(ci_post.workforce_change_female, "NA" => missing) 
end

onesamplettest = let 
    # Fetch a random sample 
    x1 = ci_post |>
    x -> ci_post[!, :workforce_change_female] |> skipmissing |> collect |> x->rand(x, 500)
    OneSampleTTest(x1, 0)
end

One sample t-test
-----------------
Population details:
    parameter of interest:   Mean
    value under h_0:         0
    point estimate:          0.3
    95% confidence interval: (0.2309, 0.3691)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           <1e-15

Details:
    number of observations:   500
    t-statistic:              8.524664387095914
    degrees of freedom:       499
    empirical standard error: 0.035192001277389945

## 3. Women Business Owners

**Statistical Test**: Two sample paired t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in the number of employed women by local businesses between pre and post survey results
* $H_{1}$: There were a change in the number of employed women by local businesses between pre and post survey results

In [23]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(hs_paired, :business_owners_female_pre)
    allowmissing!(hs_paired, :business_owners_female_post)
    
    # Convert "NA" to missing
    replace!(hs_paired.business_owners_female_pre, "NA" => missing)
    replace!(hs_paired.business_owners_female_post, "NA" => missing) 
end

pairedtwosamplettest = let 
    x1 = hs_paired |>
        x -> x[!, :business_owners_female_pre] |> skipmissing |> collect |> x->rand(x, 500)
    x2 = hs_paired |>
        x -> x[!, :business_owners_female_post] |> skipmissing |> collect |> x->rand(x, 500)
    EqualVarianceTTest(x1, x2)
end

Two sample t-test (equal variance)
----------------------------------
Population details:
    parameter of interest:   Mean difference
    value under h_0:         0
    point estimate:          0.0766667
    95% confidence interval: (0.007234, 0.1461)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           0.0305

Details:
    number of observations:   [300,300]
    t-statistic:              2.168541382100138
    degrees of freedom:       598
    empirical standard error: 0.035354025198457734

# PRODUCTIVITY

## 4. Light Hours

**Statistical Test**: Two sample paired t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in the light hours between pre and post survey results
* $H_{1}$: There were a change in the light hours between pre and post survey results

In [27]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(hs_paired, :light_hours_current_pre)
    allowmissing!(hs_paired, :light_hours_current_post)
    
    # Convert "NA" to missing
    replace!(hs_paired.light_hours_current_pre, "NA" => missing)
    replace!(hs_paired.light_hours_current_post, "NA" => missing) 
end

pairedtwosamplettest = let 
    x1 = hs_paired |>
        x -> x[!, :light_hours_current_pre] |> skipmissing |> collect |> x->rand(x, 500)
    x2 = hs_paired |>
        x -> x[!, :light_hours_current_post] |> skipmissing |> collect |> x->rand(x, 500)
    EqualVarianceTTest(x1, x2)
end

Two sample t-test (equal variance)
----------------------------------
Population details:
    parameter of interest:   Mean difference
    value under h_0:         0
    point estimate:          -0.508667
    95% confidence interval: (-1.061, 0.04404)

Test summary:
    outcome with 95% confidence: fail to reject h_0
    two-sided p-value:           0.0712

Details:
    number of observations:   [300,500]
    t-statistic:              -1.8065397774984093
    degrees of freedom:       798
    empirical standard error: 0.2815695912165513

## 5. Hours of Operation

**Statistical Test**: One sample t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in local businesses' hours of operation between pre and post survey results
* $H_{1}$: There were a change in local businesses' hours of operation between pre and post survey results

In [28]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(ci_post, :operations_hours_change)
    
    # Convert "NA" to missing
    replace!(ci_post.operations_hours_change, "NA" => missing) 
end

onesamplettest = let 
    # Fetch a random sample 
    x1 = ci_post |>
    x -> ci_post[!, :operations_hours_change] |> skipmissing |> collect |> x->rand(x, 500)
    OneSampleTTest(x1, 0)
end

One sample t-test
-----------------
Population details:
    parameter of interest:   Mean
    value under h_0:         0
    point estimate:          0.81
    95% confidence interval: (0.7701, 0.8499)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           <1e-99

Details:
    number of observations:   500
    t-statistic:              39.87558967304064
    degrees of freedom:       499
    empirical standard error: 0.020313179231745138

## 6. Electronics

**Statistical Test**: Two sample paired t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in the no. of electronics owned by respondent between pre and post survey results
* $H_{1}$: There were a change in the no. of electronics owned by respondent between pre and post survey results

In [29]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(hs_paired, :electronics_count_pre)
    allowmissing!(hs_paired, :electronics_count_post)
    
    # Convert "NA" to missing
    replace!(hs_paired.electronics_count_pre, "NA" => missing)
    replace!(hs_paired.electronics_count_post, "NA" => missing) 
end

pairedtwosamplettest = let 
    x1 = hs_paired |>
        x -> x[!, :electronics_count_pre] |> skipmissing |> collect |> x->rand(x, 500)
    x2 = hs_paired |>
        x -> x[!, :electronics_count_post] |> skipmissing |> collect |> x->rand(x, 500)
    EqualVarianceTTest(x1, x2)
end

Two sample t-test (equal variance)
----------------------------------
Population details:
    parameter of interest:   Mean difference
    value under h_0:         0
    point estimate:          -0.0266667
    95% confidence interval: (-0.4432, 0.3898)

Test summary:
    outcome with 95% confidence: fail to reject h_0
    two-sided p-value:           0.9000

Details:
    number of observations:   [300,500]
    t-statistic:              -0.1256755698975003
    degrees of freedom:       798
    empirical standard error: 0.21218655852060903

## 6. Electronics

**Statistical Test**: Two sample paired t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in the no. of cellphones owned by respondent between pre and post survey results
* $H_{1}$: There were a change in the no. of cellphones owned by respondent between pre and post survey results

In [30]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(hs_paired, :cellphones_count_pre)
    allowmissing!(hs_paired, :cellphones_count_post)
    
    # Convert "NA" to missing
    replace!(hs_paired.cellphones_count_pre, "NA" => missing)
    replace!(hs_paired.cellphones_count_post, "NA" => missing) 
end

pairedtwosamplettest = let 
    x1 = hs_paired |>
        x -> x[!, :cellphones_count_pre] |> skipmissing |> collect |> x->rand(x, 300)
    x2 = hs_paired |>
        x -> x[!, :cellphones_count_post] |> skipmissing |> collect |> x->rand(x, 500)
    EqualVarianceTTest(x1, x2)
end

Two sample t-test (equal variance)
----------------------------------
Population details:
    parameter of interest:   Mean difference
    value under h_0:         0
    point estimate:          -0.525333
    95% confidence interval: (-0.6974, -0.3533)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           <1e-8

Details:
    number of observations:   [300,500]
    t-statistic:              -5.992864380478399
    degrees of freedom:       798
    empirical standard error: 0.08765980672691226

## 7. Has school performance changed since connection to minigrid?
## 8. Have you seen a change in overall school performance?

## 9. How long does the water collection process take on a daily basis?

## 10. How long does the cooking fuel collection process take on a daily basis?

## 11.How far must you travel to charge your mobile phone?

# HEALTH

## 1.What hours is the Health Center / Clinic open?
## 2.Access to refrigeration of clinic
## 3.Does your Health Center / Clinic have access to refrigeration?
## 4.Does your Health Center have access to minigrid electricity?

## 5.Do you have a source for clean drinking water?
## 6.What is the source for clean drinking water?

## 7.How many kerosene lamps do you currently use in your household?
## 8.Has the number of kerosene lamps in your household changed since connection to minigrid?
## 9.Approximately how many hours a day do you use kerosene lamps?

# SAFETY

## 1.How safe do you feel outside your home when it is dark?
## 2.What makes you feel the most unsafe?

## 3.Does your community currently have outdoor community lights?
## 4.How safe would you feel outside your home at nighttime IF you had exterior lights?

# ECONOMIC ACTIVITY

## 1.For businesses or shop owners only: Since connection to Renewvia minigrid, have you seen any change in your weekly or monthly earnings?

## 2.What is your average monthly household income?

**Statistical Test**: Two sample paired t-Test

**Hypothesis Testing**
* $H_{0}$: There were no changes in average monthly household income between pre and post survey respondents
* $H_{1}$: There were a change in average monthly household income between pre and post survey respondents

In [15]:
begin 
    # Allow female_schooling_change col to have missing values
    allowmissing!(hs_paired, :avg_monthly_household_income_pre)
    allowmissing!(hs_paired, :avg_monthly_household_income_post)
    
    # Convert "NA" to missing
    replace!(hs_paired.avg_monthly_household_income_pre, "NA" => missing)
    replace!(hs_paired.avg_monthly_household_income_post, "NA" => missing) 
end

pairedtwosamplettest = let 
    x1 = hs_paired |>
        x -> x[!, :avg_monthly_household_income_pre] |> skipmissing |> collect |> x->rand(x, 500)
    x2 = hs_paired |>
        x -> x[!, :avg_monthly_household_income_post] |> skipmissing |> collect |> x->rand(x, 500)
    EqualVarianceTTest(x1, x2)
end

Two sample t-test (equal variance)
----------------------------------
Population details:
    parameter of interest:   Mean difference
    value under h_0:         0
    point estimate:          3510.04
    95% confidence interval: (980.5, 6040.0)

Test summary:
    outcome with 95% confidence: reject h_0
    two-sided p-value:           0.0066

Details:
    number of observations:   [500,500]
    t-statistic:              2.723013352712927
    degrees of freedom:       998
    empirical standard error: 1289.026363569964

## 3.Has your household income changed since your connection to minigrid power?

## 4.What services are you able to offer/sell/provide due to connection to Renewvia minigrid that you weren't able to offer prior to connection?
## 5.What is the Clinic / Hospital able to offer or provide due to connection to Renewvia minigrid that it wasn't able to offer before?
## 6.What is your school able to offer / accomplish by having electricity that wasn't possible before?

## 7.Are any household members business owners?
## 8.Is this business recent (started after connection to minigrid power?)
## 9.If this business is new, do you consider this new business a result of having access to minigrid power?

## 10.What is your occupation?
## 11.Has your (or your spouse's) occupation changed since you've been connected to minigrid power?
## 12.Since connection to Renewvia mingrid, have you had any change in number of workers/employees at your place of work?